{% extends 'base.html' %}

{% block main%}
<div class="container">
  <h1 class="head">Our Courses</h1>
</div>
<hr class="sep">
<br><br><br>
<div class="row">
  {% for course in courses %}
  <div id="course_div" class="col-sm-4" style="padding: 0;">
    <div class="card" style="width: 18rem;">
      <img src="{{ course['image'] }}" class="card-img-top" style="width: fit-content; display: block; margin-left: auto; margin-right: auto; margin-top: 8px;" alt="course image">
      <div class="card-body">
        <h5 class="card-title">{{ course['name'] }}</h5>
        <p class="card-text">{{ course['description'] }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
