{% extends 'base.html' %}

{% block main %}
  <div class="container" id="mainpage">
    <h1 class="head" id="typewriter"></h1>
  </div>
  <br><br>
  <hr class="sep">
  <br><br>
  <div class="container">
    <h3 class="head" >About Us</h3>
    <br>
    <h5 class="head">OlympGeeks is a platform where students and teacher collaborate to produce great results in Math olympiads conducted all over the worlds! We have courses available for students to prepare for International Mathematical Olympiad and their </h5>
  </div>
  <!-- Flexbox container for aligning the toasts -->

{% endblock %}
