{% extends 'base.html' %} {% block main %}
<br />
<div class="container" id="mainpage">
  <h1 class="head" id="typewriter"></h1>
  <br />
  <h3 class="text-left head fs-3">
    Start your journey towards mathematical greatness with OlympGeek today by
  </h3>
  <h3 class="text-left">
    <a class="head" href="/explore" style="color: lightskyblue"
      >exploring our courses.</a
    >
  </h3>
</div>
<br />
<hr id="about-us" class="sep" />
<br />
<div class="container">
  <!-- <h3 class="head" >About Us</h3> -->
  <!-- <br> -->
  <h5 class="head">
    OlympGeeks is a platform where students and teachers collaborate to produce
    ecstatic results in Math olympiads conducted all over the world!
  </h5>
  <h5 class="head">
    Unlock the secrets of mathematical excellence with our expertly crafted
    curriculum designed to empower aspiring mathematicians like you. Whether
    you're a novice or a seasoned competitor, OlympGeeks offers a comprehensive
    range of courses tailored to suit every skill level.
  </h5>

  <br /><br />
  <h3 class="head text-left" style="margin-bottom: 1em">
    Why choose OlympGeeks?
  </h3>

  <ul class="text-left head points">
    <li class="fs-3">
      <h5 class="fs-3">
        <span style="font-weight: bold">Expert Guidance</span>: Learn from
        seasoned mathematicians and IMO veterans who provide invaluable insights
        and guidance every step of the way.
      </h5>
    </li>
    <li>
      <h5 class="fs-3">
        <span style="font-weight: bold"> Comprehensive Curriculum:</span> Dive
        deep into the world of mathematics with our meticulously structured
        courses covering all aspects of IMO preparation.
      </h5>
    </li>
    <li>
      <h5 class="fs-3">
        <span style="font-weight: bold"> Interactive Learning:</span> Engage in
        dynamic discussions, problem-solving sessions, and interactive exercises
        that foster a deeper understanding of mathematical concepts.
      </h5>
    </li>
    <li>
      <h5 class="fs-3">
        <span style="font-weight: bold"> Personalized Support:</span> Benefit
        from personalized attention with small class sizes and individualized
        feedback to maximize your learning potential.
      </h5>
    </li>
    <li>
      <h5 class="fs-3">
        <span style="font-weight: bold"> Proven Results:</span> Join a community
        of achievers who have successfully conquered the IMO and other
        prestigious mathematical competitions with OlympGeeks' proven teaching
        methodologies.
      </h5>
    </li>
  </ul>

  <br /><br /><br />
</div>
{% endblock %}
