{% extends 'base.html' %}

{% block main %}
<br />
<form action='/login' method='post' style="padding-left: 20em; padding-right: 20em;">
    <div class='form-group'>
        <input autocomplete='off' autofocus class='form-control bg-dark' name='username' placeholder='Username' type='text'>
    </div>
    <div class='form-group'>
        <input class='form-control bg-dark' name='password' placeholder='Password' type='password'>
    </div>
    <button class='btn btn-primary' type='submit'>Log In</button>
</form>
{% endblock %}
