{% extends 'base.html' %}

{% block main %}
<br />
<form action='/register' method='post' style="padding-left: 20em; padding-right: 20em;">
    <div class='form-group'>        
        <input class='bg-dark form-control' autocomplete='off' autofocus name='username' placeholder='Username'>
    </div>
    <div class='form-group'>
        <input type='password' class='bg-dark form-control' autocomplete='off' autofocus name='password' placeholder='Password'>
    </div>
    <div class='form-group'>
        <input type='password' class='bg-dark form-control' autocomplete='off' autofocus name='confirmation' placeholder='Password (again)'>
    </div>
    <button class='btn btn-primary' type='submit'>Register</button>
</form>
{% endblock %}
